---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{#- Only real pages: every one of them has a directory permalink, so a
    trailing slash filters out feed.xml, robots.txt and sitemap.xml. -#}
{%- for item in collections.all %}{% if item.url.endsWith('/') %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDatum }}</lastmod>
  </url>
{%- endif %}{%- endfor %}
</urlset>
