<footer class="site-footer">
  <div class="wrap site-footer__inner">
    <span>&copy; {{ helpers.year }} {{ site.author.name }}</span>
    <span class="site-footer__mark">
      {% set size = 22 %}
      {% include "partials/mark.njk" %}
    </span>
    <span>
      <span class="meta__item"><a href="/feed.xml">RSS</a></span>
      <span class="meta__item"><a href="/over-deze-site/">Over deze site</a></span>
    </span>
  </div>
</footer>
